<div>

  <mat-card>
    <button mat-raised-button color="primary" routerLink="/login" style="float: left;" >
          Home
          &nbsp; &nbsp; &nbsp;
          <mat-icon>home</mat-icon>
        </button>
        &nbsp; &nbsp; &nbsp;
    <br><br>
  </mat-card>

    <mat-card>


      <mat-divider></mat-divider>
      <br>
      <form [formGroup]="createForm" class="create-form">
                <mat-form-field appearance="fill" class="field-full-width">
                    <mat-label color=blue> Firstname</mat-label>
                    <input align="start" matInput  formControlName="firstname" #firstname>
                  </mat-form-field>

                  <br><br>

                <mat-form-field appearance="fill" class="field-full-width">
                    <mat-label color=blue> Lastname</mat-label>
                    <input align="start" matInput  formControlName="lastname" #lastname>

                  </mat-form-field>

                  <br><br>

                  <mat-form-field appearance="fill" class="field-full-width">
                    <mat-label color=blue> Address</mat-label>
                    <input align="start" matInput  formControlName="address" #address>
                  </mat-form-field>

                  <br><br>  

                  <mat-form-field appearance="fill" class="field-full-width">
                    <mat-label color=blue> Zipcode</mat-label>
                    <input align="start" matInput  formControlName="zipcode" #zipcode>
                  </mat-form-field>

                  <br><br>

                  <mat-form-field appearance="fill" class="field-full-width">
                    <mat-label color=blue> Username</mat-label>
                    <input align="start" matInput  formControlName="username" #username>
                  </mat-form-field>

                  <br><br>

                  <mat-form-field appearance="fill" class="field-full-width">
                    <mat-label color=blue> Password</mat-label>
                    <input  matInput [type]="hide ? 'password' : 'text'" align="start" matInput  formControlName="password" #password>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </button>
                  </mat-form-field>

                  <br><br>

                  <mat-form-field appearance="fill" class="field-full-width">
                    <mat-label color=blue> Sports Interested</mat-label>
                    <input align="start" matInput  formControlName="sportsinterested" #sportsinterested>
                  </mat-form-field>

                  <br><br>

                <mat-divider></mat-divider>

                <br><br>
                <button type="submit" mat-raised-button color="primary" (click)="get_user_details(firstname.value,lastname.value,address.value,zipcode.value,username.value,password.value,sportsinterested.value)"  mat-raised-button >
                  Submit
                  &nbsp; &nbsp; &nbsp;
                  <mat-icon>verified_user</mat-icon>
                </button>

      </form>
    </mat-card>
  </div>
